@model Sjx_Mvc.ViewModels.BikeViewModel

@{
    ViewBag.Title = "Create Bike";
}


<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Coronation Corporate Portal | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="~/asset/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/asset/css/style.css" rel="stylesheet" />
</head>
<body class=" ">
    <div class="row">
        <div class="col-md-12 bgimg ">
            <div>
                <div class="login-box">
                    <div class="login-logo">
                    </div>
                    <div class="card">
                        <div class="card-body login-card-body">
                            <div class="card-header">
                                <h4 class="card-title text-center" style="margin-left:2rem">Create bike</h4>
                            </div>
                            @if (TempData["successMessage"] != null)
                            {
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <span style="font-size: 15px">@TempData["successMessage"]</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                            }
                            @if (TempData["errorMessage"] != null)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <span style="font-size: 15px">@TempData["errorMessage"]</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            }

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <form asp-action="CreateBike" asp-controller="Bike" method="post">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input asp-for="RidersName" class="form-control" placeholder="Rider Name" />
                                    </div>
                                    <div class="input-group mb-3">

                                        <span asp-validation-for="RidersName" class="text-danger mx-auto"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input asp-for="BikeNo" class="form-control" placeholder="Bike no" />
                                    </div>
                                    <div class="input-group mb-3">

                                        <span asp-validation-for="BikeNo" class="text-danger mx-auto"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input asp-for="Registration" class="form-control" placeholder="Plate no" />
                                    </div>
                                    <div class="input-group mb-3">

                                        <span asp-validation-for="Registration" class="text-danger mx-auto"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input asp-for="dateofpurchase" class="form-control" placeholder="Purchase date" />
                                        </div>
                                        <div class="input-group mb-3">

                                            <span asp-validation-for="dateofpurchase" class="text-danger mx-auto"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input asp-for="colour" class="form-control" placeholder="Colour" />
                                        </div>
                                        <div class="input-group mb-3">

                                            <span asp-validation-for="colour" class="text-danger mx-auto"></span>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group push-up-20">
                                    <div class="mx-auto">
                                        <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
  
    @*<script src="~/plugins/jquery/jquery.min.js"></script>*@
    <script src="~/lib/jquery/jquery.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>


</body>
</html>




